.container {
  width: 100%;
}

@media (min-width: 640px) { /* sm */
  .container {
    width: 75%;
  }
}

@media (min-width: 768px) { /* md */
  .container {
    width: 50%;
  }
}

@media (min-width: 1024px) { /* lg */
  .container {
    width: 33%;
  }
}

@media (min-width: 1280px) { /* xl */
  .container {
    width: 25%;
  }
}